<div id="snippet-display-container" class="hidden display-container">

    <!-- Snippet Header -->
    <div  class="container-header py-3 px-4 d-flex justify-content-between">
        <div class="display-6">{{getItemName()}}</div>
        <div class="justify-content-end">
            <img mat-raised-button matTooltip="copy snippet" (click)="copyToClipBoard()" class="svgimg mx-2" height="40px" width="40px" src="assets/img/copy.svg" alt="..." />
            <!-- <img mat-raised-button matTooltip="edit snippet" (click)="open(editSnippet)" class="svgimg mx-2" height="30px" width="30px" src="assets/img/edit.svg" alt="..." /> -->
            <img mat-raised-button matTooltip="edit snippet" (click)="openEditor();" class="svgimg mx-2" height="30px" width="30px" src="assets/img/edit.svg" alt="..." />
            <img mat-raised-button matTooltip="delete snippit" (click)="deleteSnippet()" class="svgimg mx-2" height="30px" width="30px" src="assets/img/delete-svgrepo-com.svg" alt="..." />
        </div>
    </div>

    <!-- Snippet Body -->
    <div id="snippet-body" class="d-flex my-2">
        <!-- Gutter -->
        <div id="gutter-container" class="gutter mx-5 d-flex flex-column">
        </div>

        <!--  Code display -->
        <div id="code-display-container" class="code-display"></div>
    </div>
</div>


<!-- Edit Snippet Display -->
<div id="snippet-editor" class="display-container hidden">

  <!-- Snippet Header -->
  <div  class="container-header py-3 px-4 d-flex justify-content-between">
      <div class="display-6">Snippet Editor</div>
      <div class="justify-content-end">
          <img mat-raised-button matTooltip="edit snippet" (click)="updateSnippet()" class="svgimg mx-2" height="30px" width="30px" src="assets/img/save.svg" alt="..." />
          <img mat-raised-button matTooltip="delete snippit" (click)="deleteSnippet()" class="svgimg mx-2" height="30px" width="30px" src="assets/img/delete-svgrepo-com.svg" alt="..." />
      </div>
  </div>

  <!-- Snippet Body -->
  <div id="snippet-body" class="d-flex my-2 justify-content-center">
      <section class="content mx-2">
         <textarea [(ngModel)]="snippetContent" name="editor" id="editor" class="boxSizing-borderBox" placeholder="Okay..."></textarea>
      </section>
  </div>
</div>





 <!-- Templates -->
   <ng-template #editSnippet let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Snippet Editor</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <label for="exampleFormControlInput1">Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1"  [(ngModel)]="snippetName" placeholder="snippet name">
      
      <label>Snippet</label>
      <textarea class="form-control form-control-lg" id="snippetInputTextArea" 
        placeholder="data" rows="12" [(ngModel)]="snippetContent"></textarea>

    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-success" (click)="updateSnippet(); modal.dismiss()">Save</button>
    </div>
  </ng-template>

<!-- Snack Bar -->
