<div id="snippet-display-container" class="">
    <div id="snippet-header" class="py-3 px-4">
        <div class="display-6">merge sort</div>
    </div>

    <div id="snippet-body" class="d-flex my-2">


<!-- ;let indexOfelement=index; -->
        <div id="gutter-container" class="gutter mx-5 d-flex flex-column">
            <ng-container *ngIf="activeSnippet">
                <ng-container *ngIf="activeSnippet">
                    <div class="d-flex justify-content-end" *ngFor="let line of activeSnippet.content;let i=index;">
                        {{i + 1}}
                    </div>
                </ng-container>
            </ng-container>
        </div>

        <div id="code-display-container" class="code-display">
            <!-- <ng-component *ngIf="activeSnippet">
                <div *ngFor="let line of activeSnippet.content">
                    <div>{{line}}</div>
                </div>
            </ng-component> -->
        </div>

    </div>


</div>
