<div class="display-container">
    <!-- Snippet Header -->
    <div class="container-header py-3 px-4 d-flex justify-content-between">
        <div id="treeDisplayHeader" class="display-6">{{treeName}}</div>
    </div>

    <!-- tree display -->
    <div id="tree-display" class="d-flex my-2 row d-flex">

    </div>

    <div id="addFileGutter"class="display-col d-flex">

    </div>


</div>
<button style="display:none" id="addItemModalBtn" (click) ="open(addItem)">test</button>




<!-- Templates -->
   <!-- add folder or dir Modal -->
   <ng-template #addItem let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create new item</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <label for="exampleFormControlInput1">Name</label>
      <input [(ngModel)]="newItemName" class="" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">

      <div class="mt-3 d-flex justify-content-center">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="itemType">
        <mat-radio-button class="mx-2" *ngFor="let item of itemList" [value]="item">
          {{item}}
        </mat-radio-button>
      </mat-radio-group>
        
      </div>
      

    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-success" (click)="createNewItem();modal.dismiss()">Add</button>
    </div>
  </ng-template>
